@model Call_Logger.Models.Call

@{
    ViewBag.Title = "Add Call";
    ViewBag.ShowBackBar = true;
    var selectListItems = new[]
    {

        new SelectListItem() { Value = "1", Text = "Open", Selected = true },
        new SelectListItem() { Value = "2", Text = "Hold", Selected = false },
        new SelectListItem() { Value = "3", Text = "Closed", Selected = false }
    };
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_CallForm")

