@{
    ViewBag.Title = "Add Call";
}

<h2>@ViewBag.Title</h2>

<form method="post">

    <div class="row">

        <div class="col-md-6">

            <div class="form-group">
                <label for="CallID" class="control-label">Call ID</label>
                <input type="text" id="CallID" name="CallID" class="form-control" />
            </div>
            
            <div class="form-group">
                <label for="CallTS" class="control-label">Date</label>
                <input type="text" id="CallTS" name="CallTS" class="form-control" />
            </div>       

            <div class="form-group">
                <label for="CustRep" class="control-label">Operator</label>
                <input type="text" id="CustRep" name="CustRep" class="form-control" />
            </div>

            <div class="form-group">
                <label for="CallStatus" class="control-label">Call Status</label>
                <input type="text" id="CallStatus" name="CallStatus" class="form-control" />
            </div>

            <div class="form-group">
                <label for="RegistrantID" class="control-label">Registrant ID</label>
                <input type="text" id="RegistrantID" name="RegistrantID" class="form-control" />
            </div>

            <div class="form-group">
                <label for="TopicFlag" class="control-label">Issue Category</label>
                <input type="text" id="TopicFlag" name="TopicFlag" class="form-control" />
            </div>

            <div class="form-group">
                <label for="SummaryHtml" class="control-label">Description</label>
                <input type="text" id="SummaryHtml" name="SummaryHtml" class="form-control" />
            </div>

          <div class="col-md-6">

            <div class="form-group">
                <label for="CallNotes" class="control-label">Notes</label>
                <textarea id="CallNotes" name="CallNotes" class="form-control" rows="14" cols="20"></textarea>
            </div>

          </div>

            <div class="col-md-12">
                <div class="pad-top">
                    <button type="submit" class="btn btn-success btn-lg margin-right">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                    <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </a>
                </div>
            </div>
        </div>
    </div>
 </form>

